#content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-shrink: 1;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width:600px) {
  #content-container.hide {
    display: none;
  }
}

.tasks-main {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.tasks-holder {
  box-sizing: border-box;
  padding-bottom: 60px;
}

.tasks-empty-img {
  max-width: 400px;
  width: 100%;
  align-self: center;
}

.task-single {
  margin-top: 1px;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.btn-check {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #DDDDDD;
  font-size: 16px;
}

.btn-check:hover {
  color: black;
  background-color: #f2f2f2;
}

.btn-check > .completed {
  color: #E44332;
}

.task-single-details {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task-single-details p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task-title {
  font-size: 18px;
  font-weight: lighter;
}

.task-single-sub {
  font-size: 14px;
  font-weight: lighter;
  color: #999999;
  overflow-wrap: break-word;
}

.task-add-btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 4px 6px;
  color: black;
}

.task-add-btn i {
  font-size: 12px;
}

.task-add-btn:hover {
  color: #E44332;
}

.task-inline {
  padding: 10px;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  margin-top: 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.task-inline-title {
  border: none;
}

.task-inline-details {
  border: none;
  font-weight: lighter;
  resize: none;
}

.task-inline-title:focus,
.task-inline-details:focus {
  outline: none;
}

.task-inline-list {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
}

.date-selector-btn {
  background-color: transparent;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  padding: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: lighter;
}

.date-selector-btn:hover {
  color: #E44332;
}

.date-selector-btn i {
  font-size: 16px;
  position: relative;
  top: -1px;
}

.task-inline-btn-holder {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.task-single-menu {
  display: flex;
}

.task-single-actions {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  color: #DDDDDD;
}

.task-single-actions:hover {
  color: black;
  background-color: #f2f2f2;
}