#content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-shrink: 1;
  padding: 10px;
  box-sizing: border-box;
}

@media screen and (max-width:600px) {
  #content-container.hide {
    display: none;
  }
}

.tasks-main {
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.tasks-empty-img {
  max-width: 400px;
  width: 100%;
  align-self: center;
}

.task-single {
  margin-top: 1px;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.btn-check {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #DDDDDD;
  font-size: 16px;
}

.btn-check:hover {
  color: black;
  background-color: #f2f2f2;
}

.btn-check > .completed {
  color: #E44332;
}

.task-single-details p {
  padding: 0;
  margin: 0;
}

.task-title {
  font-size: 18px;
  font-weight: lighter;
}

.task-add-btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 4px 6px;
}

.task-add-btn i {
  font-size: 12px;
}

.task-add-btn:hover {
  color: #E44332;
}