#board-content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* flex-shrink: 1; */
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.boards-main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

@media screen and (max-width:600px) {
  #board-content-container.hide {
    display: none;
  }

  .boards-main {
    padding-left: 0px;
  }
}

.sections-holder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  overflow-y: scroll;
  flex-grow: 1;
}

.section-single {
  width: 280px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 8px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.section-title {
  margin: 0;
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.section-single-menu {
  display: flex;
}

.section-single-actions {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  color: #BBBBBB;
}

.section-single-actions:hover {
  color: black;
  background-color: #f2f2f2;
}

.add-section-btn {
  cursor: pointer;
  border: 1px dashed #d3d3d3;
  color: #999999;
  background-color: white;
  width: 280px;
  height: 100px;
  border-radius: 8px;
  flex-shrink: 0;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
}

.add-section-btn > p {
  margin: 0;
}

.add-section-btn:hover {
  color: #E44332;
  border: 1px dashed #E44332;
}

.add-item-btn {
  border: 1px dashed #d3d3d3;
  color: #999999;
  background-color: white;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.add-item-btn > p {
  margin: 0;
}

.add-item-btn:hover {
  color: #E44332;
  border: 1px dashed #E44332;
}

.items-holder {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  border-radius: 8px;
}

.items-holder.dragging-over {
  background-color: #f2f2f2;
}

.item-add-details {
  border: none;
  resize: none;
  outline: none;
}

.item-single {
  width: 100%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.item-single:hover {
  box-shadow: 0px 0px 8px lightgray;
}

.item-single.dragging {
  box-shadow: 0px 0px 8px grey;
}

.item-single-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}

.item-single-title {
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
}

.item-single-details {
  font-size: 14px;
  font-weight: lighter;
  color: #999999;
  overflow-wrap: break-word;
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
}

.item-single-menu {
  display: flex;
}

.item-single-actions {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  color: #BBBBBB;
}

.item-single-actions:hover {
  color: black;
  background-color: #f2f2f2;
}