button {
  font-family: 'Poppins';
}

.no-decor {
  text-decoration: none;
}

.link {
  color: black;
  font-weight: lighter;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.link-small {
  color: black;
  font-weight: lighter;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  font-weight: normal;
}

.link-small:hover {
  font-weight: normal;
}

.logo {
  width: 32px;
  height: 32px;
}

.btn-large {
  text-decoration: none;
  padding: 8px 16px;
  border: 0px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-white {
  background-color: white;
  color: black;
}

.btn-white:hover {
  background-color: #f2f2f2;
}

.btn-red {
  background-color: #E44332;
  color: white;
}

.btn-red:hover {
  background-color: #e44432cd;
}

.btn-red:disabled {
  background-color: #E37267;
}

.btn {
  text-decoration: none;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

