.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  padding: 10px;
  box-sizing: border-box;
}

.modal-form>label {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-weight: lighter;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
}

.modal-form input {
  border: none;
}

.modal-form input:focus {
  outline: none;
}